
footer {
    background-color: #cbd4dc;
    color: #274b5d;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    ul {    
        list-style: none;
        color: #274b5d;
        text-align: center;
        font-size: 20 px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

}
