
.postgrado {
    display: flex;
    flex-direction: row;
}
.pregrado {
    display: flex;
    flex-direction: row;
}
.cursos {
    display: flex;
    flex-direction: row;
}
.card-img-top {
    height: 90%;
}